<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Coupons{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <h1 class="title">Coupons</h1>
        </header>
        <div id="content" class="content">
            {% for coupon in coupons %}
                <div class="coupon">
                    <img src={{coupon.imageLink}} alt={{coupon.imageLink}} />
                    <h2 class="coupon_title">{{ coupon.title }}</h2>
                </div>
            {% endfor %}
        </div>
        <footer class="footer">
            Coupons © 2019
        </footer>
    </body>
</html>